/data/**
docker-compose.override.yml
.idea
*.iml

.DS_STORE
DS_STORE
.DS_Store

gateway-prod.yml
gateway_prod.yml
prometheus_prod.yml

config/sftp/prod/**
config/s3-sync/**
config/keycloak-prod/**
config/letsencrypt/certbot/**
config/drive-sync/**
config/drive-sync/artcoded-cred.json
config/backend/search-term.yml
config/scripts/ext-scripts/**
config/scripts/ext/**
config/artemis/keycloak-prod.json
*.pem
.env

/env-files/prod/**
