/data/**
docker-compose.override.yml
.idea
*.iml

.DS_STORE



DS_STORE
.DS_Store

gateway-prod.yml
gateway_prod.yml
prometheus_prod.yml

config/letsencrypt/certbot/**
config/drive-sync/**
config/drive-sync/artcoded-cred.json
*.pem
.env